@model IEnumerable<Norget.Models.Livro>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!--link o css para o html-->
    <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true" />
    <!--coloca o icon da dev reads no site-->
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo3.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap lib para pegar icones necessarios para a montagem do site-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <!--fonte do google montserrat para os textos-->
    <title>DEVREADS</title>
    <!--um script para mostrar ao clicar no menu-->
    <script>
        function toggleMenu() {
            const menu = document.getElementById('menu');
            menu.classList.toggle('active');
        }
    </script>
</head>

<body>
    <header>
        <div class="logo">
            <a asp-controller="Home" asp-action="Index"><img src="img/logodr.png" alt="Logo"></a>
        </div>
        <div class="search">
            <input type="text" placeholder="Busque por Nomes, Autores ou Categorias">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="icons">
            <a asp-controller="Home" asp-action="Carrinho" class="bi bi-bag"></a>

            <div class="menu-icon" onclick="toggleMenu()"><i class="fa-solid fa-caret-down"></i></div>
        </div>
        <nav id="menu" class="nav-menu">
            <h2>MENU</h2>
            <ul>
                <li><a href="config.html">Conta</a></li>
                <li><a href="atendimento.html">Central de Atendimento</a></li>
            </ul>
            <div class="line"></div>
            <div class="menu-buttons">
                <a asp-controller="Home" asp-action="Login" class="login">Login</a>
                <a asp-controller="Home" asp-action="CadastroUsuario" class="cadastro">Registre-se</a>
                <a asp-controller="Home" asp-action="PainelLivro" class="login">Painel Livro</a>
                <a asp-controller="Home" asp-action="CadastroLivro" class="cadastro">Registrar Livro</a>
                <a asp-controller="Home" asp-action="InfoSp" class="login">Usuario</a>

            </div>
        </nav>
    </header>

    <main>
        <section class="populares">
            <h2>POPULARES</h2>
            <div class="cards">
                <!-- Altere aqui para "cards" -->
                @foreach (var livro in Model)
                {
                    <div class="card">
                        <br><br><img src="img/@livro.ImgLiv">
                        <h2>@livro.NomeLiv</h2>
                        <p>@livro.PrecoLiv</p>
                        <a asp-controller="Home" asp-action="DetalheLivro" asp-route-id="@livro.IdLiv" class="btnp">Ver</a>
                       <!-- <button class="btnp">VER</button> -->
                    </div>                   
                }                
            </div>
        </section>

        <div class="gradiente1"></div>

        <h2>PROMOÇÕES</h2>

        <div class="promocoes-container">
            <div class="cardestaque">
                <div class="destaque">
                    <h2>Livro da Semana</h2>
                    <img src="img/img11.jpeg">
                    <p>Código Limpo</p>
                    <span>R$ 78,90</span>
                    <button class="btnd">VER</button>
                </div>

                <div class="promocoes-container">
                    <section class="promocoes">
                        <div class="ofertas">
                            <h2>Ofertas da Semana</h2>
                        </div>

                        <div class="cardestaque">
                            <div class="cardP">
                                <br><br><img src="img/img5.jpeg">
                                <h2>Tecnologias da Informação na Gestão</h2>
                                <p>R$ 90,00</p>
                                <button class="btnd">VER</button>
                            </div>

                            <div class="cardP">
                                <br><br><img src="img/img6.jpeg">
                                <h2>Por Trás da TI</h2>
                                <p>R$ 60,00</p>
                                <button class="btnd">VER</button>
                            </div>

                            <div class="cardP">
                                <br><br><img src="img/img7.jpeg">
                                <h2>The Pragmatic Programming</h2>
                                <p>R$ 142,20</p>
                                <button class="btnd">VER</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="gradiente2">
            <section class="categorias">
                <h2>CATEGORIAS</h2>
                <div class="grid-categorias">

                    <div class="categoria">
                        <p>FUNDAMENTOS DE TI</p>
                    </div>

                    <div class="categoria">
                        <p>DESENVOLVIMENTO DE SOFTWARE</p>
                    </div>

                    <div class="categoria">
                        <p>BANCO DE DADOS</p>
                    </div>

                    <div class="categoria">
                        <p>SEGURANÇA DA INFORMAÇÃO</p>
                    </div>

                    <div class="categoria">
                        <p>IA E MACHINE LEARNING</p>
                    </div>

                    <div class="categoria">
                        <p>REDES E INFRAESTRUTURA</p>
                    </div>

                    <div class="categoria">
                        <p>HARDWARE</p>
                    </div>
                    <div class="categoria">
                        <p>TECNOLOGIA E SOCIEDADE</p>
                    </div>
                    <div class="categoria">
                        <p>IDENTIDADE VISUAL</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="gradiente3">
            <!--Arrumar gradiente-->

            <div class="carousel">
                <div class="carouselL">
                    <div class="crul">
                        <br><br><img src="img/img8.jpeg">
                        <h2>Head First Html</h2>
                        <p>R$ 123,00</p>
                        <button class="btnc">VER</button>
                    </div>
                    <div class="crul">
                        <br><br><img src="img/img9.jpeg">
                        <h2>Engenharia de Software</h2>
                        <p>R$ 192,38</p>
                        <button class="btnc">VER</button>
                    </div>
                    <div class="crul">
                        <br><br><img src="img/img10.jpeg">
                        <h2>Manual de DevOps</h2>
                        <p>R$ 78,99</p>
                        <button class="btnc">VER</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>