@model Norget.Models.Usuario;

@{
    ViewData["Title"] = "Login";
}

<body>

    <div class="container">

        <div class="formulario">
            <div class="header">
                <span>LOGIN</span>
            </div>
            <div class="form">
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>
                <h2>Seja Bem-Vindo de volta!</h2>
                <form>
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="E-mail" required>

                    <label for="password"></label>
                    <div class="senha">
                        <input type="password" id="password" name="password" placeholder="Senha" required>
                        <span class="mostrar">&#128065;</span> <!-- Olho para mostrar a senha -->
                    </div>

                    <a href="#" class="esqueci-senha">Esqueceu sua senha? <strong>Clique aqui!</strong></a>
                    <button type="submit" class="btn-login">Registre-se</button>
                </form>
            </div>
        </div>
        <div class="redirecionar">
            <p><span>NÃO</span> TEM CONTA? :(</p>
            <a href="registro.html">Clique <span class="reg">aqui</span> para fazer uma conta com a gente!</a>
        </div>
    </div>
</body>